<template name="Home">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Gilbert</td>
            <td>Yim</td>
            <td>1847 Kalihi Street</td>
            <td>808-389-9340</td>
            <td>gyim@hawaii.edu</td>
        </tr>
        <tr>
            <td>Nathan</td>
            <td>Kong</td>
            <td>1448 Young Street</td>
            <td>808-389-9341</td>
            <td>n8thankong@gmail.com</td>
        </tr>
        <tr>
            <td>Johnson</td>
            <td>Leung</td>
            <td>1245 Maunakea Street</td>
            <td>808-389-9342</td>
            <td>johnleung@gmail.com</td>
        </tr>
        </tbody>
    </table>

</template>
